body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff8f3;
    padding: 10px;
}

header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: #222222;
    justify-content: flex-start;
}

section { 
    display: none; 
}

section.active { 
    display: block; 
}

nav {
    text-align: center;
    margin: auto;
    padding-top: 50px;
    color: #222222;
    font-weight: bold;
    font-size: 22px;
    word-spacing: 25px;
    cursor: pointer;
}

main {
    padding: 40px 120px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    color: #333333;
}

.logo {
    border-radius: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff8f3;
}

#home h2,
#artists h2 {
    text-align: center;
    font-size: 26px;
    padding-top: 50px;
}

#about h2,
#contact h2 {
    text-align: left;
    font-size: 26px;
    padding-top: 35px;
}


/* 1 Home */
.opening {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.art-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
}

.art-item {
    text-align: center;
    font-style: italic;
}

.art-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/* 2 Artists */
.artist-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.artist-card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.artist-card img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.artist-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artist-info h3 {
    margin: 0 0 10px 0;
    font-size: 22px;
}

.artist-info p {
    margin: 0 0 10px 0;
    line-height: 1.4;
    font-size: 18px;
}


/* 3 About Us*/
.team-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    gap: 20px;
    padding: 30px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.team-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* 5 Signup Form */
section#signup {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 100px;
}

.signup-box {
    border: 2px solid #222222;
    width: 80%;
    margin: 0 auto 30px auto; 
    padding-top: 20px;
    padding-bottom: 60px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 50%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #333;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 5px;
    width: 20%;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: alias;
}

button:hover {
    background-color: #8e8e8e;
}


/* Footer */
footer {
    margin-top: 40px; 
    padding: 20px 0; 
    border-top: 1px solid #ccc; 
    text-align: center; 
    font-size: 18px; 
    word-spacing: 12px;
    color: #555; 
    cursor: pointer;
}

.socials {
    margin: 14px 0;
    font-size: 14px;
}



/* Responsiveness*/

/* Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
    main {
        padding: 30px 40px;
    }

    h1 {
        font-size: 40px;
    }

    .art-gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .team-container {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    input, select {
        width: 70%;
    }

    button {
        width: 40%;
    }
}

/* Mobile (max-width: 700px) */
@media (max-width: 700px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        font-size: 18px;
        word-spacing: 10px;
        padding-top: 20px;
    }

    main {
        padding: 20px;
    }

    h1 {
        font-size: 32px;
    }

    p, .opening {
        font-size: 18px;
    }

    .art-gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-container {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .artist-card {
        flex-direction: column;
        text-align: center;
    }

    .artist-card img {
        width: 100%;
    }

    input, select {
        width: 90%;
    }

    button {
        width: 60%;
    }
}
